@using BalanceBeamApp.Models

@foreach (var transaction in CurrentTransactions) {
    <p>@transaction.Name: @transaction.Amount.ToString("C") </p>
}

@code {
    public IEnumerable<Transaction> CurrentTransactions = new[] {
        new Transaction { Name = "AAA", Amount = 50 },
        new Transaction { Name = "B", Amount = 25 },
    };
}